@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden ;
    background-color:#dcdadae2 ;
  }
  .main{
    background: transparent;
    color:#ffffff;
  }
  .heading{
      color:#8D47FF ;
      text-align: center;
      font-size: 2rem;
      margin: 0 auto;
      font-weight: 900;
    }
  /* nav bar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1.5px solid #8D47FF;
  }
  .logo {
    margin-left: 25px;
    filter: drop-shadow(0px 4px 24px #848484);

  }
 
  .nav-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 65%;
  }
  .nav-item li {
    list-style: none;
  }
  
  .nav-item li a {
    padding:10px 25px;
    text-decoration: none;
    color: #8D47FF;
    text-align: center;
  }
  .nav-item li a:hover{
    border-bottom:1px solid #8D47FF;
  }
  .btn-cta {
    color: #8D47FF;
    background-color: transparent;
    padding: 10px;
    margin-right: 25px;
    font-size: 1.5em;
    font-weight: bolder;
    border: 2px solid #74FFC5;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 5px 2px 15px #848484;
  }
  .btn-cta a:hover {
    color: #8D47FF; 
    width: 100%;
  }
  .btn-cta:hover{
    background-color: #74FFC5;
    transform: scale(1.1);
  }
  #a-cta:hover{
    border: none;
  }
 
  
  .active{
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff ;
    background-color: #f0f0f0;
    color:#8D47FF;
    box-shadow: 5px 2px 15px #848484;
  }
  /* navbar */
  /* hero section */
  .wrapper{
    display: flex;
    justify-content:center;
    height: 100vh;
    align-items: center;
    color:#ffffff;
    padding: 15px;
  }
  .container1{
    width: 60vw;
    flex:1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
   
  }  
  .hero-heading{
    margin:0 auto; 
    font-weight: 400;
    font-size: 35px;
    color: #ffffff;
  }
  .container1::before{
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #8D47FF;
    position: absolute;
    top:15%;
    left:-5%;
    z-index: -1;

  }
  .container1::after{
    content: "";
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #8D47FF;
    position: absolute;
    top:50%;
    right:10%;
    z-index: -1;

  }
  .name{
    color: #74FFC5;
    font-size:50px;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
  }
  .sub-heading{
    margin:0 0 0 140px;
    font-weight: 300;
    font-size: 30px;
    color: #ffffff;
  }
  .download{
    padding: 10px;
    background-color: transparent;
    border: 2px solid #74FFC5;
    border-radius: 5px;
    margin:25px auto;
    
  }
  .download a{
    color: #ffffff;
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
  }
  .download a:hover{
    color: # #ffffff
  }
  .download:hover{
    background-color: #74FFC5;
    box-shadow: 1px 5px 15px #848484;
    transform: scale(1.05,1.05);
  }
  .download:active{
    background-color: #74FFC5;
    box-shadow: 1px 5px 15px #848484;
    transform: scale(1,1);
  }
/* about section */

.container3{
  display: flex;
  justify-content:center ;
  margin-bottom: 100px;
  margin-top: 50px;
}


.title{
  color: #ffffff ;
  padding-top: 25px;
  width:70%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  word-spacing: 10px;
  line-height: 2;
}
.title::after{
    content: "";
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #8D47FF;
    position: absolute;
    top:120%;
    right:7%;
    z-index: -1;
}
/* about section end */
/* skills section  */
.container{
  margin-top:25px ;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding:0 25px ;
  width: 70%;
}
.container::before{
  content: "";
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  background-color: #8D47FF;
  position: absolute;
  top:185%;
  left:-25%;
  z-index: -1;
}
.tech-head{
  font-weight: 700;
  font-size: 32px;
}
.card{
  text-align: center;
  flex:  25%;
  height: 650px;
  background-color: #ffffff;
  border-radius: 25px;
  margin: 10px 10px;
  color: #8D47FF;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 1px 2px 10px #848484;
}
.card-text{
  text-align: justify;
}
.img-card{
  text-align: center;
}
/* progressbar */
.progress-bar{
  background-color:grey;
  border-radius:15px;
  text-align:right;
  height:1.5em;
  margin:0 25px;
  margin-bottom: 25px;
}
.skill{
  background-color:#8D47FF;
  border-radius:15px;
  height:100%;
}
.html{
  width:90%;
  color:white;
} 
.css{
  width: 60%;
  color:#ffffff ;
}
.js{
  width: 50%;
  color:#ffffff ;
}
.bootstrap{
  width: 75%;
  color:#ffffff ;
}
.jqry{
  width: 40%;
  color:#ffffff ;
}
.fig{
  width: 50%;
  color:#ffffff ;
}

/* progressbar end */
/* contact me */
.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.contact-head{
  text-align:center;
    padding: 10px 0 0 0;
    height: fit-content;
    color:#8D47FF;
    letter-spacing:5px;
    margin-top: 500px;
    font-size: 3rem;
    font-weight: 900;
}
.container3{
  display: flex;
    justify-content:flex-end;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    width: 100%;
    height: 80vh;
    margin-right: 150px;
}
form{
  width:25rem;
    height:80vh;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    padding:0 25px;
    background:transparent;
    box-shadow: 0 8px 32px 0 rgba(56, 56, 56, 0.37);
    border-radius:30px;
    border-left:1px solid rgba(255,255,255,.3);
    border-top:1px solid rgba(255,255,255,.3);
}
form:after{
  content: "";
  width: 250px;
  height: 250px;
  background: #8D47FF;
  position: absolute;
  right:-2%;
  bottom: -400%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.8;
}
form::before{
  content: "";
  width: 800px;
  height: 800px;
  background: #8D47FF;
  position: absolute;
  left:-25%;
  top: 400%;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.8;
}

label{
  padding: 15px;
  font-size: 2rem;
  font-weight: 700;
  text-shadow:1px 2px 5px #000000;
}
input{
  border: none;
  outline: none;
  border-bottom: 2px solid #74FFC5;
  width: 90%;
  margin:0 auto;
  background: transparent;
}
input:focus{
  height: 2rem;
  border: 2px solid #74FFC5
}
select{
  padding:10px 10px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
  width: 90%;
  margin: 0 auto 0 auto;
  border:3px solid #74FFC5;
  cursor: pointer;
  background: transparent;
}
option{
  color: #8D47FF;
  font-size: 2rem;
}
select:hover{
  background: #74FFC5;

}
button{
  padding: 10px;
  width: max-content;
  margin: 10px auto;
  color: #fff;
  background: transparent;
  border: 3px solid #74FFC5;
  border-radius: 15px;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 1px 2px 25px #848484;
  /* text-shadow:1px 2px 5px #000000; */
}
button:hover{
  color:#fff;
  background:#74FFC5;
  cursor: pointer;
}



/* contact me end */
/* Footer */
  footer{
    background-color: #848484;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    width: 100vw;
    margin: 0;
    margin-top: 450px;
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    padding: 0;
    
  }
  
/* Fotter end */